.confEst{
  padding: 0;
  margin: 0;
  
}
.Encabezado, .footer{
    background-color: #004854;
    width: 100%;
    height: 111px;
  }
 
  .configuraciones{
    height: 388px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 43%;
  }
.contLink{
  margin-top: 50px;
}
.volverHome{
  color: #004854;
  text-decoration: underline;
  text-align: center;
}
.volverHome:hover{
  color: red;
}
