.titulo{

text-align: center;

}
.formula{
  float: left;
  width: 100%;  
  text-align: center;
}

.inp{
  padding: 5px;
  height: 5rem;
  font-size: 25px;

}

.env{
  background-color: #00B9BC;
  border-color: #00B9BC;
  color: white;
  height: 2.5rem;
  width: 10rem;
  border-radius: 0.3rem;
  margin: 0.5rem;
}
.cancelar{
  background-color: #00B9BC;
  border-color: #00B9BC;
  color: white;
  height: 2.5rem;
  width: 10rem;
  border-radius: 0.3rem;
  margin: 0.5rem;
}


.izq{
 float: left;
  padding: 2rem;
  width: 100%;
  float: left;
}

p{
  word-wrap: break-word;
  
  display: block;
  font-size: 1.5rem;
}



.futer{
  color: white;
  text-align: center;
  height: 100px;
  width: 100%;
  float: left;
  background-color: #004854;
  
}
