.titulo{
    text-align: center;
}
.an{
    width: 300px;
}
.general{
    display: flex;
    min-height: 453px;
}
.tarif,.anadir
{
    width: 600px;
}
.tarifas{
    display: flex;
}
.infoCuo{
    margin-left: 100px;
}