.sitioAuto{
    
    width: 125px;
    height: 140px;
    background-color: #00FF38;
    margin: 10px;
    border-radius: 2rem;
    border:solid 2px black;
    cursor: pointer;
    
}
.sitioAuto h2{
    text-align: center;
}

.sitioMoto{
    width: 90px;
    height: 120px;
    background-color: #00FF38;
    margin: 10px;
    border-radius: 2rem;
    border:solid 2px black;
    cursor: pointer;
}

.sitioMoto h2{
    text-align: center;
}