.sitioConfi{
    
    width: 125px;
    height: 140px;
    background-color: #00FF38;
    margin: 10px;
    border-radius: 2rem;
    border:solid 2px black;
    cursor: pointer;
    
}
.sitioConfi h2{
    text-align: center;
}

.sitioM{
    width: 80px;
    height: 110px;
    background-color: #00FF38;
    margin: 10px;
    border-radius: 2rem;
}