.montoTotal{
    display: flex;
    justify-content: center;
}
.datoIngreso{
    text-align: center;
}

.ingresosDetalle{
    width: 100%;
    padding: 1rem;
}

  .buscadorInputs, .buscadorFecha, .botonBuscar{
    display: flex;
    justify-content: center;
    margin: 5px;
  }
  .inputAutocompletado{
    position: relative;
  }