.sitio{
    width: 125px;
    height: 160px;
    cursor: pointer;
    margin: 10px;
    border-radius: 1rem;
    border:solid 2px black
    
}
.modalHeader{
    display: flex;
    justify-content: center;
}
.asig{
    text-align: center;
}
.modalFooter{
    display: flex;
    justify-content: center;
}

.sitio h2{
    text-align: center;
}
.botonesModalSitio{
    text-align: center;
}
.botonModal{
    background-color:#00B9BC ;
    border-color:#00B9BC ;
}
.botonModal:hover{
    background-color:#F63700 ;
    border-color:#F63700 ;
    color: black;
}
.cronometroSitio{
    text-align: center;
    font-weight: bold;
}