*{
    padding: 0;
    margin: 0;
  }
  .cuerpo{
    display: flex;
    flex-direction: row;
  }
  .header, .footer{
    background-color: #004854;
  height: 124px;
  width: 100%;
  }
  
  .contactos{
    color: white;
    text-align: center;
    margin: 200px 1em 0 auto;
  }
  